html, body{
    height: 100%;
}
.page{
    height: 100%;
    padding: 0;
    background: #fff;
    background: url(../images/bj.jpg) left top no-repeat;
    background-size: cover;
}
.header{
    overflow: hidden;
    width: 100%;
    height: 64px;
    margin: 0 auto;
    background:#1469DE
}
.header img{
    width: auto;
    height: 54px;
    display: block;
    float: left;
    margin-top: 6px;
}
.header .company{
    width: 1160px;

    height: 64px;
    margin: 0 auto;
}
.header .company .title{
    font-size: 28px;
    color: #0049ac;
    margin: 0;
    margin-top: 16px;
}
.header .company .sub-title{
    font-size: 14px;
    color: #999999;
    margin: 0;
}

.content{
    overflow: hidden;
    
    position: relative;
}
.login-box{
    width: 1160px;
    height: 670px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(85,132,255,0.35); 
    margin: 0 auto;
    margin-top: 47px;


}
.login-left{
    background: url(../images/bj-1.jpg) left top no-repeat;
    background-size: cover;
    height: 670px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.title-img{
    position: absolute;
    right: 67px;
    top:48px;
}
.help-block{
    color:red;
}
.footer{
    height: 80px;
    padding: 10px 0;
    line-height:20px;
    color:#939393;
    text-align: center;
    display: none;
}
.footer a{
    color: #939393;
    text-decoration: none;
    margin: 10px 0;
}
.footer a img{
    margin-right: 10px;
}
.panel-body{
    width: 386px;
    margin: 0 auto;
}
.panel-heading{
    width: 356px;
    margin: 0 auto;
    border: none;
}
.panel-title{
    margin-top: 164px;
    position: relative;
    height: 30px;
    margin-bottom: 20px;
}
.panel-title b{
    font-size: 24px;
    font-family: MicrosoftYaHei, MicrosoftYaHei-Bold;
    font-weight: 700;
    text-align: left;
    color: #333333;
    line-height: 20px;
    letter-spacing: 1px;
    position: absolute;
}
.panel-title span{
    display:inline-block;
    width: 149px;
    height: 4px;
    opacity: 0.5;
    border: 4px solid #5584ff;
    position: absolute;
    bottom: 5px;
    left: 0;
    border-radius: 8px;
}
.form-item{
    height: 40px;
    background: #ffffff;
    border: 1px solid #c4c6cf;
    border-radius: 3px;
    width: 356px;
}
.form-item .form-control{
    border:none;
    display:inline-block;
    height: 38px;
    width: 268px;
}
.form-item img{
    width: 24px;
    height: 24px;
    margin-left: 12px;
}
.form-control:focus{
    box-shadow:none
}
.btn-primary{
    display:inline-block;
    width: 356px;
    height: 40px;
    background: #1469de;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 3px;
}
.has-error .form-control:focus{
    border:none;
    box-shadow:none;
}